# Ambiente
NODE_ENV=development

# Servidor
PORT=8000

# URLs
FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:8000/api/v1

# Banco de dados
DATABASE_URL=postgresql://postgres:1234@localhost:5432/shopixturbo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=shopixturbo

# JWT
JWT_SECRET=sua_chave_super_secreta_com_mais_de_32_chars
JWT_EXPIRES_IN=1d

# Expiração do token de verificacao de email em texto plano
EMAIL_TOKEN_EXP_IN_PLAIN_TEXT=30 minutes

# Redis
REDIS_URL=redis://user:password@localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seuemail@gmail.com
SMTP_PASS=sua_senha_ou_app_password
