NODE_ENV=development
PORT=8000
FRONTEND_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:1234@localhost:5432/shopixturbo?schema=public
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=shopixturbo

JWT_SECRET=1234
