# Ambiente
NODE_ENV=development

# Servidor
PORT=8000

# URLs
FRONTEND_URL=http://localhost:3000
BASE_API_URL=http://localhost:8000/api/v1

# Banco de dados
DATABASE_URL=postgresql://postgres:1234@localhost:5432/shopixturbo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=shopixturbo

# JWT
JWT_SECRET=sua_chave_super_secreta_com_mais_de_32_chars
JWT_EXPIRES_IN=1d

# Redis
REDIS_URL=redis://user:password@localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seuemail@gmail.com
SMTP_PASS=sua_senha_ou_app_password

# Shopee
SHOPEE_PARTNER_ID=123456
SHOPEE_PARTNER_KEY=mock-partner-key-for-testing
SHOPEE_MAIN_ACCOUNT_ID=123456
SHOPEE_AUTH_PARTNER_HOST="https://openplatform.sandbox.test-stable.shopee.sg"

# Domínio do Frontend
REDIRECT_URL="http://localhost:3000"

AUTHORIZATION_URL_PATH="/api/v2/shop/auth_partner"
GET_ACCESS_TOKEN_PATH="/api/v2/auth/token/get"
GET_ITEM_BASE_INFO_PATH="/api/v2/product/get_item_base_info"
GET_ITEM_LIST_PATH="/api/v2/product/get_item_list"
GET_ORDER_DETAIL_PATH="/api/v2/order/get_order_detail"
GET_ORDER_LIST_PATH="/api/v2/order/get_order_list"
GET_REFRESH_TOKEN_PATH="/api/v2/auth/access_token/get"
GET_SHOP_INFO_PATH="/api/v2/shop/get_shop_info"
GET_SHOP_PROFILE_PATH="/api/v2/shop/get_profile"

# Encryption
ENCRYPTION_KEY=123456789gf6g7h8i9j0k1l2m3n123456789s9t0u1v2w3x4y5z6a7b123456789
